<div id="<%= dom_id iten %>">
  <p>
    <strong>Name:</strong>
    <%= iten.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= iten.category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= iten.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= iten.description %>
  </p>

</div>
