<p style="color: green"><%= notice %></p>

<%= render @iten %>

<div>
  <%= link_to "Edit this iten", edit_iten_path(@iten) %> |
  <%= link_to "Back to itens", itens_path %>

  <%= button_to "Destroy this iten", @iten, method: :delete %>
</div>
