<div id="<%= dom_id order %>">
  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order.item_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

</div>
